img {
  height: 100%;
  width: 100%;
}

.text {
  font-family: sans-serif;
  height: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6b5297;
  font-size: 17px;
  font-weight: 600;
}
