.app {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 160px 0 0 540px;
}

.text {
    font-family: sans-serif;
    height: 40px;
    width: 200px;
    text-align: center;
    color: #461f8a;
    font-size: 24px;
    font-weight: 700;
}

.image {
    height: 200px;
    width: 200px;
    display: block;
    text-align: center;
    transition: all 0.5s;
}

.bton {
    margin-top: 20px;
    height: 40px;
    width: 200px;
}